<h1>I scream, you scream, we all scream for ice cream!</h1>

<ul>
<!-- all the ice creams listed -->
<!-- the #each loops over the array much like a for loop -->
{{#each icecreams }}
  <li>Name: {{name}} Price: {{price}} Awesomeness: {{awesomeness}}</li>
{{/each}}
</ul>